@include mobile {
    header {
        background-color: white;

        h1 {
            font-size: 7rem;
        }
        
        nav {
            display: grid;
            grid-template-columns: 1fr 1fr;
            
                             
        }
        
        nav ul {

            display: block;  
            justify-content: space-between;
            list-style-type: none;
            grid-column-start: 2;        
        }

        nav ul li {
         border-bottom: solid 1px black;
        }
      
    }
    
}

@include tablet {
    header {
        background-color: pink;
    }
}

@include desktop {
    header {
        background-color: yellow;
    }
}

