
  @import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Spectral&family=Spectral+SC&display=swap');

  


$titlefont: 'PT Sans Narrow', sans-serif, bold;

$headingfont: 'Spectral SC', serif;

$paragraphfont: 'Spectral', serif;

$color1: mediumseagreen;

$image1: url(../images/breakfast.jpg);